<section class="banner-area organic-breadcrumb" style="width:1540px;">
  <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
          <div class="col-first">
              <h1>FAQ</h1>
              <nav class="d-flex align-items-center">
                  <a [routerLink]="['/homeuser']">Home<span class="lnr lnr-arrow-right"></span></a>
                  <a [routerLink]="['/faq']">FAQ</a>
              </nav>
          </div>
      </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
  <div class="container">
    <h2>You Can Free To Ask Questions To Us..</h2>
    <br>
      <div class="tracking_box_inner">
        <iframe
        allow="microphone;"
        width="1100"
        height="530"
        src="https://console.dialogflow.com/api-client/demo/embedded/caa8b7ec-68d8-410d-9f09-be507a957ef4">
    </iframe>

      </div>
  </div>
</section>
