.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.abc:hover
{
  color:blue;
  cursor: pointer;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.nav-link :hover{
  background-color: white;
}

