@keyframes slider {

  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
      left: -100%;

  }

  50% {
      left: -200%;

  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;

  }

  }

  #slider {
    overflow: hidden;
  }

  #slider figure img {
    width: 20%;
    height: 400px;
    float: left;
  }

  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    height: 200px;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;

  }

  hr {
    opacity: 0.3;
    border-color: #000;
  }

  #css-only-modals {
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000;
    text-align: center;
    white-space: nowrap;
    height: 100%;
  }

  #css-only-modals:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .css-only-modal-check {
    pointer-events: auto;
  }

  .css-only-modal-check:checked ~ .css-only-modal {
    opacity: 1;
    pointer-events: auto;
  }

  .css-only-modal {
    width: 40%;
    background: #FFF;
    z-index: 1;
    display: inline-block;
    position: relative;
    pointer-events: auto;
    padding: 25px;
    text-align: right;
    border-radius: 4px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    pointer-events: none;
  }

  .css-only-modal h2 {
    text-align: center;
  }

  .css-only-modal p {
    text-align: left;
  }

  .css-only-modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .css-only-modal-check {
    display: none;
  }

  .css-only-modal-check:checked ~ #screen-shade {
    opacity: 0.5;
    pointer-events: auto;
  }

  #screen-shade {
    opacity: 0;
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity 0.8s;
  }

  .stripe > .container > p,
  .stripe > .container > ul {
    text-align: left;
    padding: 35px;
    margin: 0;
  }

  .stripe > .container > hr {
    margin: 50px 0;
  }

  #nav-spacer {
    display: block;
    height: 50px;
  }

  .stripe {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .default {
    color: White;
    background: DarkCyan;
  }

  .inverse {
    color: DarkCyan;
    background: White;
  }

  .form-rounded {
    border-radius: 1rem;
    }


  .grey {
    color: White;
    background: DimGrey;
  }

  .grey-light {
    color: DimGrey;
    background: White;
  }

  .color {
    color: DarkOrange;
  }


