
<section class="tracking_box_area section_gap">
  <div class="container">
    <div id='oopss'>
      <div id='error-text'>
          <img  style="margin-left: 600px;margin-top: 100px;"    src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
          <br>
          <h1><b style="color: cornsilk;font-size:3em;margin-left:470px;">404 Not Found</b></h1>

        </div>
  </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
