<!-- <div *ngIf="!msgcheck">
  <mat-card    style="height:auto; width:500px; margin-left:480px;margin-top:120px ">
    <div class="container">
      <h1 align="center">Your details is</h1>
      <table class="table ">
        <tr>
          <mat-form-field style="width:500px; " class="example-full-width">
            <input disabled matInput placeholder="EMAIL ID" type="email" [(ngModel)]="user_email_id"/>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="width:500px; " class="example-full-width">
            <input
              disabled
              matInput
              placeholder="user name"
              type="text"
              [(ngModel)]="user_name"
            />
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="width:500px; " class="example-full-width">
            <input
              disabled
              matInput
              placeholder="Mobile no"
              type="text"
              [(ngModel)]="user_mobile_no"
            />
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="width:500px; " class="example-full-width">
            <input
              disabled
              matInput
              placeholder="address"
              type="text"
              [(ngModel)]="user_address"
            />
          </mat-form-field>
        </tr>

      </table>

      <br /><br />
      <button mat-raised-button color="primary" (click)="saveprofile()">
        SAVE</button
      >&nbsp;&nbsp;&nbsp;
    </div>
  </mat-card>
</div>


<div *ngIf="msgcheck">
    <mat-card
      style="height:auto; width:500px; margin-left:480px;margin-top:120px "
    >
      <div class="container">
        <h1 align="center">Your details is</h1>
        <table class="table ">
          <tr>
            <mat-form-field style="width:500px; " class="example-full-width">
              <input
                disabled
                matInput
                placeholder="EMAIL ID"
                type="email"
                [(ngModel)]="user_email_id"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field style="width:500px; " class="example-full-width">
              <input
                matInput
                placeholder="user name"
                type="text"
                [(ngModel)]="user_name"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field style="width:500px; " class="example-full-width">
              <input

                matInput
                placeholder="Mobile no"
                type="text"
                [(ngModel)]="user_mobile_no"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field style="width:500px; " class="example-full-width">
              <input matInput placeholder="address" type="text" [(ngModel)]="user_address"/>
            </mat-form-field>
          </tr>

        </table>

        <br /><br />
        <button mat-raised-button color="primary" (click)="saveprofile()">
          SAVE</button
        >&nbsp;&nbsp;&nbsp;
      </div>
    </mat-card>
  </div>


  <h1>Your order detail</h1>
  <div>
    <table *ngFor="let item of product_addtocartarr">
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.order_amount}}</td>
      </tr>

    </table>
  </div>
  <h1>Your total amount </h1>
    <h2>{{total}}</h2> -->
        <!-- Start Header Area -->
      <!-- End Header Area -->

        <!-- Start Banner Area -->
        <section class="banner-area organic-breadcrumb" style="width: 1540px">
          <div class="container">
              <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                  <div class="col-first">
                      <h1>Checkout</h1>
                      <nav class="d-flex align-items-center">
                          <a [routerLink]="['/homeuser']">Home<span class="lnr lnr-arrow-right"></span></a>
                          <a [routerLink]="['/checkout']">Checkout</a>
                      </nav>
                  </div>
              </div>
          </div>
      </section>
      <!-- End Banner Area -->

      <!--================Checkout Area =================-->
      <section class="checkout_area section_gap">
          <div class="container">
              <div class="returning_customer" *ngIf="!user_email_id">
                  <div class="check_title">
                      <h2>Returning Customer? <a  >Click here to login</a></h2>
                  </div>
                  <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
                      customer, please proceed to the Billing & Shipping section.</p>
                  <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                      <div class="col-md-6 form-group p_star">
                          <input type="text" class="form-control" id="name" name="name">
                          <span class="placeholder" data-placeholder="Username or Email"></span>
                      </div>
                      <div class="col-md-6 form-group p_star">
                          <input type="password" class="form-control" id="password" name="password">
                          <span class="placeholder" data-placeholder="Password"></span>
                      </div>
                      <div class="col-md-12 form-group">
                          <button type="submit" value="submit" class="primary-btn">login</button>
                          <div class="creat_account">
                              <input type="checkbox" id="f-option" name="selector">
                              <label for="f-option">Remember me</label>
                          </div>
                          <a class="lost_pass"  >Lost your password?</a>
                      </div>
                  </form>
              </div>
              <div class="cupon_area">
                  <div class="check_title">
                      <h2>Have a coupon? <a  >Click here to enter your code</a></h2>
                  </div>
                  <input type="text" placeholder="Enter coupon code">
                  <a class="tp_btn"  >Apply Coupon</a>
              </div>
              <div class="billing_details">
                  <div class="row">
                      <div class="col-lg-8">
                          <h3>Billing Details</h3>
                          <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                              <div class="col-md-6 form-group p_star">
                                  <input type="text" class="form-control" id="first" name="name"  [(ngModel)]="user_name" placeholder="Name">
                                  <!-- <span class="placeholder" data-placeholder="Name"></span> -->
                              </div>
                              <!-- <div class="col-md-6 form-group p_star">
                                  <input type="text" class="form-control" id="last" name="name">
                                  <span class="placeholder" data-placeholder="Last name"></span>
                              </div> -->
                              <!-- <div class="col-md-12 form-group">
                                  <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                              </div> -->
                              <div class="col-md-6 form-group p_star">
                                  <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" [(ngModel)]="user_mobile_no">
                                  <!-- <span class="placeholder" data-placeholder="Phone Number"></span> -->
                              </div>
                              <div class="col-md-6 form-group p_star">
                                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Email Address" disabled  [(ngModel)]="user_email_id">
                                  <!-- <span class="placeholder" data-placeholder="Email Address"></span> -->
                              </div>
                              <!-- <div class="col-md-12 form-group p_star">
                                  <select class="country_select">
                                      <option value="1">Country</option>
                                      <option value="2">Country</option>
                                      <option value="4">Country</option>
                                  </select>
                              </div> -->
                              <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="add1" name="add1" placeholder="Address line 01" [(ngModel)]="user_address">
                                  <!-- <span class="placeholder" data-placeholder="Address line 01"></span> -->
                              </div>
                              <!-- <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="add2" name="add2">
                                  <span class="placeholder" data-placeholder="Address line 02"></span>
                              </div>
                              <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="city" name="city">
                                  <span class="placeholder" data-placeholder="Town/City"></span>
                              </div> -->
                              <!-- <div class="col-md-12 form-group p_star">
                                  <select class="country_select">
                                      <option value="1">District</option>
                                      <option value="2">District</option>
                                      <option value="4">District</option>
                                  </select>
                              </div> -->
                              <div class="col-md-12 form-group">
                                  <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                              </div>
                              <div class="col-md-12 form-group">
                                  <div class="creat_account">
                                      <input type="checkbox" id="f-option2" name="selector">
                                      <label for="f-option2">Create an account?</label>
                                  </div>
                              </div>
                              <div class="col-md-12 form-group">
                                  <div class="creat_account">
                                      <h3>Shipping Details</h3>
                                      <input type="checkbox" id="f-option3" name="selector">
                                      <label for="f-option3">Ship to a different address?</label>
                                  </div>
                                  <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                              </div>
                          </form>
                      </div>
                      <div class="col-lg-4">
                          <div class="order_box">
                              <h2>Your Order</h2>
                              <ul class="list">
                                  <li><a  >Product <span>Total</span></a></li>
                                  <li  *ngFor="let item of product_addtocartarr"><a >{{item.product_name}} <span class="middle">x{{item.order_qty}}</span> <span class="last">{{item.order_amount}}</span></a></li>
                                  <!-- <li><a  >Fresh Tomatoes <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
                                  <li><a  >Fresh Brocoli <span class="middle">x 02</span> <span class="last">$720.00</span></a></li> -->
                              </ul>
                              <ul class="list list_2">
                                  <li><a  >Subtotal <span>{{total}}</span></a></li>
                                  <li><a  >Shipping <span>Flat rate: {{shippingcharge}}</span></a></li>
                                  <li><a  >Total <span>{{grnadtotal}}</span></a></li>
                              </ul>
                              <div class="payment_item">
                                  <div class="radion_btn">
                                      <input type="radio" id="f-option5" value="cod" name="selector" [(ngModel)]="selector">
                                      <label for="f-option5">Cash On Delivery</label>
                                      <div class="check"></div>
                                  </div>
                                  <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                      Store Postcode.</p>
                              </div>
                              <div class="payment_item active">
                                  <div class="radion_btn">
                                      <input type="radio" id="f-option6"  value="paytm" name="selector" [(ngModel)]="selector">
                                      <label for="f-option6">Paytm </label>
                                      <img src="img/product/card.jpg" alt="">
                                      <div class="check"></div>
                                  </div>
                                  <p>Pay via Paytm; you can pay with your credit card if you don’t have a Paytm
                                      account.</p>
                              </div>
                              <div class="creat_account">
                                  <input type="checkbox" id="f-option4" name="selector">
                                  <label for="f-option4">I’ve read and accept the </label>
                                  <a  >terms & conditions*</a>
                              </div>
                              <a class="primary-btn"  (click)="onaddtoorder()">Proceed to Pay</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
